/*===============
    Global Properties
===============*/

:root {
    /* Colors */
    --white-color: rgba(255, 255, 255, 1);
    --very-light-gray-color: rgba(128, 128, 128, 0.1);
    --light-gray-color: rgba(128, 128, 128, 0.2);
    --medium-gray-color: rgba(128, 128, 128, 0.4);
    --dark-gray-color: rgba(128, 128, 128, 0.8);
    --very-dark-gray-color: rgba(0, 0, 0, 0.8);

    /* Paddings */
    --small-padding: 0.5rem;
    --normal-padding: 1rem;
    --large-padding: 2rem;

    /* Gaps */
    --small-gap: 0.5rem;
    --normal-gap: 1rem;
    --big-gap: 2rem;

    /* Border Radius */
    --small-border-radius: 0.25rem;
    --normal-border-radius: 0.5rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter',sans-serif;
    color: var(--very-dark-gray-color);
}

/*===============
    Header
===============*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--normal-padding) var(--large-padding);
    box-shadow: 0 2px 4px var(--light-gray-color);
}

#header-left {
    display: flex;
    gap: var(--normal-gap);
}

#header-right {
    display: flex;
    gap: var(--normal-gap);
}

.icon {
    width: 30px;
    height: auto;
    cursor: pointer;
}

#app-name {
    font-size: 1.5rem;
}

#search-icon {
    width: 20px;
}

/*===============
    Main
===============*/

main {
    background-color: var(--very-light-gray-color);
    padding: var(--normal-padding) var(--large-padding);
    min-height: 90vh;
}

/* Filter section */

#filter-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--normal-gap);
    margin: 1rem 0;
}

#all-genres,
#recently-updated {
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--medium-gray-color);
    border-radius: var(--normal-border-radius);
}

/* Cards */

#card-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 0.5rem 4rem;
    margin-bottom: 2rem;
    margin-right: 4vw;
}

/*===============
    Modal
===============*/

/*Overlay*/

#overlay {
    background-color: var(--medium-gray-color);
    position: fixed;
    top: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 1;
    display: none;
}

/* Modal */

#modal {
    background-color: var(--white-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-height: 90vh;
    min-width: 60vw;
    overflow-y: auto;
    padding: var(--large-padding);
    border-radius: var(--normal-border-radius);
    z-index: 2;
    box-shadow: 0 0 8px var(--medium-gray-color);
    display: none;
}

/* Modal Heading */

#modal-heading-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

#modal-heading-title {
    font-size: 1.5rem;
    font-weight: 600;
}

#modal-close-btn {
    width: 20px;
    transition: all 300ms ease-in-out;
}

#modal-close-btn:hover,
#modal-close-btn:active {
    transform: scale(1.5);
}

/* Modal Main */

#modal-main {
    display: flex;
    align-items: flex-start;
    gap: var(--big-gap);
}

/* Modal Main - Left */

#modal-image {
    background-color: var(--dark-gray-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: var(--normal-border-radius);   
}

/* Modal Main - Right */

#modal-main-right {
    flex: 1;
}

#modal-description-heading,
#modal-genre-heading {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

/* Modal Main - Right (Description) */

#modal-description {
    font-size: 0.75rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 0.75rem;
}

/* Modal Main - Right (Genre) */

#modal-genre-container {
    display: flex;
    gap: 0.5rem;
    margin: 1rem 0 1rem 1rem;
}

.modal-genre-item {
    font-size: 0.75rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
    background-color: var(--light-gray-color);
    padding: 0.25rem 0.5rem;
    border-radius: var(--small-border-radius);
    cursor: pointer;
}

/* Modal Main - Right (Updated Container) */

#modal-last-updated-container {
    display: flex;
    align-items: center;
    gap: var(--small-gap);
    margin-bottom: 1rem;
}

.calender-icon {
    width: 15px;
}

#modal-last-updated {
    font-size: 0.75rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
    margin: 0.5rem 0;
}

/* Modal Bottom */

#modal-bottom {
    color: blue;
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
}

#modal-bottom h3 {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    padding: 1rem 0;
    color: rgba(0, 0, 0, 0.9);
}

.modal-season-container {
    border: 1px solid var(--light-gray-color);
    padding: var(--normal-padding);
    border-radius: var(--normal-border-radius);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all 600ms ease-in-out;
}

.modal-season-container:hover {
    border: 1px solid var(--medium-gray-color);
    transform: translateY(-1px);
    box-shadow: 0 2px 4px var(--light-gray-color);
}

.modal-season-heading {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
    cursor: pointer;
}

.modal-season-description {
    font-size: 0.75rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
}

.modal-season-number {
    font-size: 0.75rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
}

/*===============
    Media Quires
===============*/

@media (max-width: 480px) {
    #modal-main {
        flex-direction: column;
    }
    #modal {
        top: 50%;
        min-width: 90vw;
    }
    .podcast-image {
        height: auto;
        width: 100%;
    }
    #card-section {
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }
    .modal-season-container {
        flex-direction: column;
    }
    .modal-season-right {
        margin-top: 0.25rem;
    }
    .modal-season-heading {
        font-size: 0.875rem;
    }
    #modal-close-btn:hover,
    #modal-close-btn:active {
        transform: scale(1.25);
    }
    .podcast-cover-title {
        height: 94%;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #modal-main {
        flex-direction: column;
    }
    #modal {
        top: 50%;
        min-width: 80vw;
    }
    .podcast-image {
        height: auto;
        width: 100%;
    }
    #card-section {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
    #modal-close-btn:hover,
    #modal-close-btn:active {
        transform: scale(1.25);
    }
    .podcast-cover-title {
        height: 94%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #modal-main {
        flex-direction: column;
    }
    #modal {
        min-width: 70vw;
    }
}
